<div [formGroup]="formGroup">
  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex="480px">
      <mat-form-field class="full-width">
        <mat-label>Situação Jurídica</mat-label>
        <mat-select formControlName="situacaoSelecionada">
          <mat-option
            *ngFor="let situacao of situacoes"
            [value]="situacao.value"
          >
            {{ situacao.viewValue }}
          </mat-option>
          <mat-error *ngIf="formGroup.get('situacaoSelecionada')?.hasError('required')">
            Situação é obrigatória
          </mat-error>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="formGroup.get('situacaoSelecionada')?.value !== 'Indefinido'">
    <div fxLayout="row" fxLayoutGap="16px">
      <div fxFlex="480px">
        <mat-form-field class="full-width">
          <mat-label>Forma de Obtenção</mat-label>
          <mat-select formControlName="formaObtencaoSelecionada">
            <mat-option
              *ngFor="let obtencao of obtencoes"
              [value]="obtencao.value"
            >
              {{ obtencao.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Data da posse e área da posse -->
    <div fxLayout="row" fxLayoutGap="16px" *ngIf="isSimplesOuJustoTitulo()">
      <div fxFlex="230px">
        <mat-form-field class="full-width">
          <mat-label>Data da Posse</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dataPosse"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="230px">
        <mat-form-field class="full-width">
          <mat-label>Área da Posse</mat-label>
          <input
            matInput
            type="number"
            step="0.0001"
            formControlName="areaPosse"
            placeholder="Ex: 2.0000"
            
          />
        </mat-form-field>
      </div>
    </div>

    <!-- Campos de cartório (somente para Área Registrada) -->
    <div *ngIf="isRegistrada()">
      <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="230px">
          <mat-form-field class="full-width">
            <mat-label>Livro ou Ficha</mat-label>
            <input matInput formControlName="livro" />
          </mat-form-field>
        </div>
        <div fxFlex="230px">
          <mat-form-field class="full-width">
            <mat-label>Área Registrada</mat-label>
            <input 
              matInput 
              formControlName="areaRegistrada"
              type="number"
              step="0.0001"
              />
          </mat-form-field>
        </div>
        <div fxFlex="230px">
          <mat-form-field class="full-width">
            <mat-label>Nome do Cartório</mat-label>
            <input matInput formControlName="nomeCartorio" />
          </mat-form-field>
        </div>
        <div fxFlex="230px">
          <mat-form-field class="full-width">
            <mat-label>Município do Cartório</mat-label>
            <input matInput formControlName="municipioCartorio" />
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="230px">
          <mat-form-field class="full-width">
            <mat-label>Data do Registro</mat-label>
            <input matInput formControlName="dataRegistro" />
          </mat-form-field>
        </div>
        <div fxFlex="230px">
          <mat-form-field class="full-width">
            <mat-label>Ofício</mat-label>
            <input matInput formControlName="oficio" />
          </mat-form-field>
        </div>
        <div fxFlex="230px">
          <mat-form-field class="full-width">
            <mat-label>Matrícula</mat-label>
            <input matInput formControlName="matricula" />
          </mat-form-field>
        </div>
        <div fxFlex="230px">
          <mat-form-field class="full-width">
            <mat-label>Número Registro</mat-label>
            <input matInput formControlName="numeroRegistro" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
