<mat-toolbar color="primary">
  <span>Geo7</span>
  <span class="spacer"></span>
    <a routerLink="/cadastro-lotes">
    <mat-icon fontIcon="feed"></mat-icon>  
    Lotes
  </a>
  <a routerLink="/cadastro-estrutura">
    <mat-icon fontIcon="feed"></mat-icon>  
    Estrutura
  </a>
  <a routerLink="/cadastro-situacao-juridica">
    <mat-icon fontIcon="feed"></mat-icon>  
    Situação Jurídica
  </a>

  <a routerLink="/cadastro-pessoas">
    <mat-icon fontIcon="feed"></mat-icon>  
    Dados Pessoais
  </a>
  <a routerLink="/cadastro-uso">
    <mat-icon fontIcon="feed"></mat-icon>  
    Dados de Uso
  </a>
  <a routerLink="/consulta-lotes">
    <mat-icon fontIcon="search"></mat-icon>  
    Consulta
  </a>
</mat-toolbar>
<router-outlet></router-outlet>
