<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="1000px">
    <form class="mt-60" [formGroup]="formLotes" (ngSubmit)="onSubmit()">

      <!-- Botão Voltar -->
      <div class="back-button-container mb-20">
        <app-back-button text="Voltar" (backClick)="onVoltarClick()" [useHistory]="false">
        </app-back-button>
      </div>

      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Cadastro de Lote</mat-card-title>
          <mat-card-subtitle>Informações completas do lote</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="mt-20">
          <!-- Primeira linha: Controle de Campo, Município, Distrito -->
          <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="310px">
              <mat-form-field class="full-width">
                <mat-label>Controle de Campo</mat-label>
                <input type="text" formControlName="numero" placeholder="Ex: 00001" matInput required />
                <mat-error *ngIf="formLotes.get('numero')?.hasError('required')">
                  O Controle de Campo é obrigatório
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="310px">
              <mat-form-field class="full-width">
                <mat-label>Município</mat-label>
                <mat-select formControlName="municipioId" (selectionChange)="loadDistritosByMunicipio($event.value)"
                  [errorStateMatcher]="errorStateMatcher">
                  <mat-option *ngFor="let municipio of municipios" [value]="municipio.id">
                    {{ municipio.nome }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formLotes.get('municipioId')?.hasError('required')">
                  Município é obrigatório
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="310px">
              <mat-form-field class="full-width">
                <mat-label>Distrito</mat-label>
                <mat-select formControlName="distritoId" [errorStateMatcher]="errorStateMatcher">
                  <mat-option *ngFor="let distrito of filteredDistritos" [value]="distrito.id">
                    {{ distrito.nomeDistrito }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formLotes.get('distritoId')?.hasError('required')">
                  Distrito é obrigatório
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Segunda linha: Situação Jurídica, Área, Perímetro -->
          <div fxLayout="row" fxLayoutGap="16px" class="mt-16">
            <div fxFlex="470px">
              <mat-form-field class="full-width">
                <mat-label>Proprietário</mat-label>
                <input type="text" formControlName="proprietario" placeholder="Nome do proprietário" matInput
                  required />
                <mat-error *ngIf="formLotes.get('proprietario')?.hasError('required')">
                  Proprietário é obrigatório
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="310px">
              <mat-form-field class="full-width">
                <mat-label>Situação Jurídica</mat-label>
                <mat-select formControlName="situacaoJuridicaId" [errorStateMatcher]="errorStateMatcher">
                  <mat-option *ngFor="let situacao of situacoes" [value]="situacao.value">
                    {{ situacao.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formLotes.get('situacaoJuridicaId')?.hasError('required')">
                  Situação Jurídica é obrigatória
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="150px">
              <mat-form-field class="full-width">
                <mat-label>Área (m²)</mat-label>
                <input type="number" formControlName="area" placeholder="Ex: 1000" matInput required />
                <mat-error *ngIf="formLotes.get('area')?.hasError('required')">
                  Área é obrigatória
                </mat-error>
                <mat-error *ngIf="formLotes.get('area')?.hasError('min')">
                  Área deve ser maior que zero
                </mat-error>
              </mat-form-field>
            </div>

            <!-- <div fxFlex="310px">
              <mat-form-field class="full-width">
                <mat-label>Perímetro (m)</mat-label>
                <input type="number" formControlName="perimetro" placeholder="Ex: 120" matInput />
              </mat-form-field>
            </div> -->
          </div>

          <!-- Terceira linha: Proprietário, CPF -->
          <div fxLayout="row" fxLayoutGap="16px" class="mt-16">
            <div fxFlex="470px">
              <mat-form-field class="full-width">
                <mat-label>Denominação do Imóvel</mat-label>
                <input type="text" formControlName="denominacaoImovel" placeholder="Ex: Sítio São José" matInput />
              </mat-form-field>
            </div>
            <div fxFlex="250px">
              <mat-form-field class="full-width">
                <mat-label>CPF</mat-label>
                <input type="text" formControlName="cpf" placeholder="000.000.000-00" matInput required />
                <mat-error *ngIf="formLotes.get('cpf')?.hasError('required')">
                  CPF é obrigatório
                </mat-error>
                <mat-error *ngIf="formLotes.get('cpf')?.hasError('pattern')">
                  CPF deve ter formato válido
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="210px">
              <mat-form-field class="full-width">
                <mat-label>Código do Imóvel Rural (SNCR)</mat-label>
                <input type="text" formControlName="sncr" placeholder="Ex: 1234567890" matInput />
              </mat-form-field>
            </div>
          </div>

          <mat-divider></mat-divider>
          <mat-card-actions>
            @if(!atualizando){
            <button mat-flat-button color="primary" type="submit">
              <mat-icon fontIcon="save"></mat-icon>
              Salvar e Ir para Estrutura
            </button>
            } @else {
            <button mat-flat-button color="primary" type="button" (click)="atualizarLote()">
              <mat-icon fontIcon="refresh"></mat-icon>
              Atualizar e Ir para Estrutura
            </button>
            }
            <button mat-flat-button color="accent" class="ml-5" type="button" (click)="limparFormulario()">
              <mat-icon fontIcon="backspace"></mat-icon>
              Limpar
            </button>
            <button *ngIf="formLotes.get('id')?.value" mat-flat-button color="warn" class="ml-5" type="button"
              (click)="onDelete()">
              <mat-icon fontIcon="delete"></mat-icon>
              Excluir
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>